<section
  class="w-75 mx-auto rounded shadow bg-main-light p-3"
  *ngIf="cartDetails; else mas"
>
  <div class="d-flex justify-content-between">
    <div>
      <h1 class="h2">Cart Shop</h1>
      <p class="text-main">
        Total price: {{ cartDetails.totalCartPrice | currency : "EGP" }}
      </p>
    </div>
    <div>
      <button
        [routerLink]="['/payment', cartDetails._id]"
        class="btn btn-info mt-4 text-light"
      >
        check Out
      </button>
    </div>
  </div>

  <div class="row border-bottom py-2" *ngFor="let item of cartDetails.products">
    <div class="col-md-1">
      <img
        class="w-100"
        [src]="item.product.imageCover"
        [alt]="item.product.title"
      />
    </div>
    <div class="col-md-11 d-flex justify-content-between align-items-center">
      <div>
        <h3 class="h6">{{ item.product.title }}</h3>
        <p class="text-main mb-1">price: {{ item.price | currency : "EGP" }}</p>
        <button
          #rembtn
          (click)="removeItem(item.product._id, rembtn)"
          class="btn text-light bg-danger"
        >
          <i class="fas fa-trash-can"></i> Remove
        </button>
      </div>
      <div>
        <button
          #btn1
          (click)="changeCount(item.count - 1, item.product._id, btn1, btn2)"
          class="btn btn-sm border-success me-1"
        >
          -
        </button>
        <span class="h5">{{ item.count }}</span>
        <button
          #btn2
          (click)="changeCount(item.count + 1, item.product._id, btn1, btn2)"
          class="btn btn-sm border-success ms-1"
        >
          +
        </button>
      </div>
    </div>
  </div>

  <div class="text-center pt-4">
    <button (click)="clearItem()" class="btn btn-danger w-25">
      clear your cart
    </button>
  </div>
</section>

<ng-template #mas>
  <h2 class="text-center">your cart is Empty....</h2>
</ng-template>
