<!-- step1 -->
<section *ngIf="step1" class="container mt-5">
  <h1>please enter your account</h1>
  <div [formGroup]="forgotpaaForm" (ngSubmit)="forgotpaa()" class="form-item">
    <label for="email"></label>
    <input
      placeholder="Email"
      formControlName="email"
      class="form-control"
      id="email"
      type="email"
    />
    <div
      *ngIf="
        forgotpaaForm.get('email')?.errors &&
        forgotpaaForm.get('email')?.touched
      "
      class="alert alert-danger"
    >
      <p *ngIf="forgotpaaForm.get('email')?.getError('required')">
        email is required
      </p>
      <p *ngIf="forgotpaaForm.get('email')?.getError('email')">
        Email invalid formate
      </p>
    </div>
  </div>
  <button class="main-btn w-25 mt-4">Verify</button>
  <p
    *ngIf="userMsg"
    class="alert alert-danger w-75 mx-auto p-1 mb-0 mt-2 text-center"
  >
    {{ userMsg }}
  </p>
</section>

<!-- step2 -->
<section *ngIf="step2" class="container mt-5">
  <h1>please enter your verification code</h1>
  <div [formGroup]="resetCodeForm" (ngSubmit)="codeemail()" class="form-item">
    <label for="code"></label>
    <input
      placeholder="code"
      formControlName="resetCode"
      class="form-control"
      id="code"
      type="number"
    />
  </div>
  <button class="main-btn w-25 mt-4">Verify</button>
</section>

<!-- step3 -->
<section *ngIf="step3" class="container mt-5">
  <h1>Enter your account and your new password</h1>
  <div [formGroup]="newPassForm" (ngSubmit)="newpass()" class="form-item">
    <label for="email"></label>
    <input
      placeholder="Email"
      formControlName="email"
      class="form-control"
      id="email"
      type="email"
    />
  </div>
  <div class="form-item">
    <label for="newpassword"></label>
    <input
      placeholder="new password"
      formControlName="newPassword"
      class="form-control"
      id="newpassword"
      type="password"
    />
    <div
      *ngIf="
        newPassForm.get('password')?.errors &&
        newPassForm.get('password')?.touched
      "
      class="alert alert-danger"
    >
      <p *ngIf="newPassForm.get('password')?.getError('required')">
        password is required
      </p>
      <p *ngIf="newPassForm.get('password')?.getError('pattern')">
        must be at least 6 chars
      </p>
    </div>
  </div>
  <button class="main-btn w-25 mt-4">reset password</button>
</section>
