.product{

    overflow: hidden;

    .main-btn{
        transform: translateY(150%);
        transition: 0.8s;
        opacity: 0;
    }

    &:hover{
        .main-btn{
            transform: translateY(0);
            opacity: 1;
        }
    }
}