<section class="w-75 mx-auto rounded shadow p-3 mt-5 bg-main-light">
  <form [formGroup]="orderForm" (ngSubmit)="handelForm()">
    <!-- form details -->
    <div class="form-item">
      <label for="details">Details</label>
      <input
        class="form-control"
        type="text"
        id="details"
        formControlName="details"
      />

      <div
        *ngIf="
          orderForm.get('details')?.errors && orderForm.get('details')?.touched
        "
        class="alert alert-danger"
      >
        <p *ngIf="orderForm.get('details')?.getError('required')">
          details is required
        </p>
        <p *ngIf="orderForm.get('details')?.getError('minlength')">
          details min length 3
        </p>
      </div>
    </div>

    <!-- form phone -->
    <div class="form-item">
      <label for="phone">phone</label>
      <input
        class="form-control"
        type="tel"
        id="phone"
        formControlName="phone"
      />
      <div
        *ngIf="
          orderForm.get('phone')?.errors && orderForm.get('phone')?.touched
        "
        class="alert alert-danger"
      >
        <p *ngIf="orderForm.get('phone')?.getError('required')">
          phone is required
        </p>
        <p *ngIf="orderForm.get('phone')?.getError('pattern')">
          Accept only Egypt phone numbers
        </p>
      </div>
    </div>

    <!-- form city -->
    <div class="form-item">
      <label for="city">city</label>
      <input
        class="form-control"
        type="text"
        id="city"
        formControlName="city"
      />

      <div
        *ngIf="orderForm.get('city')?.errors && orderForm.get('city')?.touched"
        class="alert alert-danger"
      >
        <p *ngIf="orderForm.get('city')?.getError('required')">
          city is required
        </p>
      </div>
    </div>

    <button class="btn btn-info text-light w-100 mt-5">Pay Now</button>
  </form>
</section>
