<section
  *ngIf="ProductDetails"
  class="w-75 mx-auto rounded shadow p-3 bg-main-light"
>
  <div class="row align-items-center g-4">
    <div class="col-md-3">
      <owl-carousel-o [options]="productDetalisOptions">
        <ng-container *ngFor="let slide of ProductDetails.images">
          <ng-template carouselSlide>
            <img class="w-100" [src]="slide" />
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
    <div class="col-md-9">
      <div>
        <h2 class="h5">{{ ProductDetails.title }}</h2>
        <p class="text-muted small">{{ ProductDetails.description }}</p>
        <span> {{ ProductDetails.category.name }} </span>

        <div class="d-flex align-items-center justify-content-lg-between my-3">
          <span class="small">{{
            ProductDetails.price | currency : "EGp"
          }}</span>
          <p class="mb-0">
            <i class="rating fas fa-star"></i>
            {{ ProductDetails.ratingsAverage }}
          </p>
        </div>

        <button (click)="addpro(productId, addpr)" #addpr class="main-btn w-50">
          + Add to cart
        </button>
      </div>
    </div>
  </div>
</section>
